* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 25px 50px;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #5B51DE;
  color: #ffffff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 20px;
}

footer {
  background-color: rgba(91, 81, 222, 0.8196078431);
  color: #ffffff;
  padding: 25px 45px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}

main {
  margin: 110px 0px;
}
